MYSQL_RANDOM_ROOT_PASSWORD=true
MYSQL_DATABASE=zotero_master
MYSQL_USER=zotero
MYSQL_PASSWORD=fubar
character-set-server=utf8
collation-server=utf8_general_ci
event-scheduler=ON
sql-mode=STRICT_ALL_TABLES
default-time-zone='+0:00'
